i {
	padding: 2.7px;
}

.fa-check-square-o {
	color: #EC1B23;
	padding-right: 0px;
}

li {
	list-style-type: none;
	font-size: 15px;
}

#customer_panel i:hover{
	color: #EC1B23;
}

.green {
	background-color: #F5F5F5 !important;
}

.red {
	background-color: pink !important;
}

.blue {
	background-color: lightblue !important;
}