i {
	padding: 2.7px;
}

.fa-check-square-o {
	color: #EC1B23;
	padding-right: 0px;
}

li {
	list-style-type: none;
	font-size: 15px;
}

#customer_panel i:hover{
	color: #EC1B23;
}

.gray {
	background-color: #F5F5F5 !important;
}

.strike {
	text-decoration: line-through;
	color: #EC1B23;
}